
.toolsbar-mappic {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
}

.toolsbar-mappic ul {
    margin: 0;
    padding: 0;
}

.toolsbar-mappic ul li {
    display: inline-block;
    width: 75px;
    list-style-type: none;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
}

.toolsbar-mappic ul li img {
    border: solid 2px #fff;
    width: 75px;
    height: 70px;
}

.toolsbar-mappic ul li.hover {
    color: #337fe5;
}

.toolsbar-mappic ul li:hover {
    color: #337fe5;
}

.toolsbar-mappic ul li.hover img {
    border: solid 2px #337fe5;
}

.toolsbar-mappic ul li:hover img {
    border: solid 2px #337fe5;
}

.toolsbar-mappic ul li a {
    text-decoration: none;
    color: #333;
}
